<div>
  <h1>Welcome, <%= @user.first_name %>!</h1>
</div>

<div>
	<h3>Profile Information:</h3>
	First Name: <%= @user.first_name %><br />
	Last Name: <%= @user.last_name %><br />
	Email: <%= @user.email %><br />
	<%= link_to "My Libraries", user_libraries_path(@user), class: "my-libraries-button" %>
</div>